$icon-font-path: "fonts/";

// Typography etc from saco's own css
@import 'variables';

@import 'modules/barchart';
@import 'modules/forms';
@import 'modules/loading';
@import 'modules/sankey';
@import 'modules/tooltip';
@import 'modules/tree';
@import 'modules/typography';


.container {
    max-width: 550px;
}
.hidden {
    display: none;
}