
/* Colors for nodes and links
*/
.node.home {
    rect, circle {
        fill: $saco-turcos;
    }
}
.link.home {
    rect, circle {
        stroke: $saco-turcos;
    }
}

.node.away {
    rect, circle {
        fill: $saco-orange;        
    }
}
.link.away {
    rect, circle {
        stroke: $saco-orange;
    }
}

.node {
    .label {
        font-size: 12px;
        fill: #FFF;
        text-transform: uppercase;
    }
    .value {
        fill: #fff;
    }
    rect {
        cursor: default;
    }
    text {
        text-shadow: none;
    }
}

/* labels
*/
.x-label {
    font-size: 12px;
    fill: #666;
}
